<h2 class="addFigHeader">Add a New Figure to Your Collection!</h2>

<div class='col-sm4 col-md-6 col-lg-12 mb-3 newset_container'>
  <form class='needs-validation' novalidate>
    <div class='form-row'>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='figure-name'>Figure name</label>
        <input
          type='text'
          class='form-control'
          id='figure-name'
          placeholder='Figure name'
          required
        />
        <div class='valid-feedback'>
          Looks good!
        </div>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='figure-theme'>Figure Theme</label>
        <input
          type='text'
          class='form-control'
          id='figure-theme'
          placeholder='Figure Theme'
          required
        />
        <div class='valid-feedback'>
          Looks good!
        </div>
      </div>
        <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
          <label for='figure-value'>Value($)</label>
          <input
            type='number'
            class='figure-value'
            id='figure-value'
            placeholder='$$'
            required
          />
          <div class='invalid-feedback'>
            Please provide a valid value.
          </div>
        </div>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='figure-quantity'>Quantity</label>
        <div class='input-group'>
          <div class='figure-quantity'>
          </div>
          <input
            type='number'
            class='form-control'
            id='figure-quantity'
            placeholder='Quantity'
            required
          />
          <div class='invalid-feedback'>
            Please enter a valid quantity.
          </div>
        </div>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='condition'>Condition</label>
        <select id="condition" name="condition">
           <option class="condition" value="null"></option>
          <option class="condition" value="sealed">Sealed</option>
          <option class="condition" value="new">New</option>
          <option class="condition" value="like-new">Like-New</option>
          <option class="condition" value="great">Great</option>
          <option class="condition" value="good">Good</option>
          <option class="condition" value="fair">Fair</option>
          <option class="condition" value="poor">Poor</option>
          <option class="condition" value="incomplete">Incomplete</option>
        </select>
        <div class='invalid-feedback'>
          Please select a condition.
        </div>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='figure-rarity'>Is it rare?</label>
        <select id="rarity" name="rarity">
          <option class="rarity" value="null"></option>
          <option class="rarity" value="rare">Rare</option>
          <option class="rarity" value="notRare">Not Rare</option>
        </select>
        <div class='invalid-feedback'>
          Please choose a value.
        </div>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='figure-favorite'>Is this your favorite figure?</label>
        <select id="favorite" name="favorite">
          <option class="favorite" value="null"></option>
          <option class="favorite" value="yes">Yes</option>
          <option class="favorite" value="no">No</option>
        </select>
        <div class='invalid-feedback'>
          Please choose an answer.
        </div>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='figure-notes'>Notes</label>
        <input
          type='text'
          class='form-control'
          id='figure-notes'
          placeholder='Notes'
          required
        />
        <div class='valid-feedback'>
          Looks good!
        </div>
      </div>
    </div>
    <div class="create_Btn">
    <button class='btn btn-primary add_figBtn' type='click'>Add Figure</button>
    </div>
  </form>
</div>

<script src="/js/figure.js"></script>