<h2 class='newSetHeader'>Add a New Set to Your Collection!</h2>

<div class='col-sm4 col-md-6 col-lg-12 mb-3 newset_container'>
  <form class='needs-validation' novalidate>
    <div class='form-row justify-content-center'>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='set-name'>Set name</label>
        <input
          type='text'
          class='form-control fst-italic'
          id='set-name'
          placeholder='Set name'
          required
        />
        <div class='valid-feedback'>
          Looks good!
        </div>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='set-number'>Set Number</label>
        <input
          type='number'
          class='form-control fst-italic'
          id='set-number'
          placeholder='Set number'
          required
        />
        <div class='valid-feedback'>
          Looks good!
        </div>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='set-theme'>Set Theme</label>
        <input
          type='text'
          class='form-control fst-italic'
          id='set-theme'
          placeholder='Set Theme'
          required
        />
        <div class='valid-feedback'>
          Looks good!
        </div>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='set-value'>Value($)</label>
        <input
          type='number'
          class='set-value form-control fst-italic'
          id='set-value'
          placeholder='$'
          required
        />
        <div class='invalid-feedback'>
          Please provide a valid value.
        </div>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='set-quantity'>Quantity</label>

        <div class='set-quantity'>
        </div>
        <input
          type='number'
          class='fst-italic form-control'
          id='set-quantity'
          placeholder='Quantity'
          required
        />
        <div class='invalid-feedback'>
          Please enter a valid quantity.

        </div>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='set-totalV'>What's the total value?($)</label>
        <input
          type='number'
          class='fst-italic form-control'
          id='set-totalV'
          placeholder='total $ amount'
          required
        />
        <div class='valid-feedback'>
          Please choose an answer.
        </div>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='condition'>Condition</label>
        <select id='set-condition' class='form-control' name='condition'>
          <option class='condition' value=''></option>
          <option class='condition' value='sealed'>Sealed</option>
          <option class='condition' value='new'>New</option>
          <option class='condition' value='like-new'>Like-New</option>
          <option class='condition' value='great'>Great</option>
          <option class='condition' value='good'>Good</option>
          <option class='condition' value='fair'>Fair</option>
          <option class='condition' value='poor'>Poor</option>
          <option class='condition' value='incomplete'>Incomplete</option>
        </select>
        <div class='invalid-feedback'>
          Please select a condition.
        </div>
      </div>
      
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='set-notes'>Notes</label>
        <input
          type='text'
          class='form-control'
          id='set-notes'
          placeholder='Notes'
          required
        />
        <div class='valid-feedback'>
          Looks good!
        </div>
      </div>
            <img class="lego_photo" src="/images/lego.png"/>

    </div>
    <div class='create_Btn'>
      <button type='click' class='banner_btn add_figBtn add_setBtn'>Add Set</button>
    </div>
  </form>
  <p class='fst-italic recommendation_text'>It is recommended that you use
    Bricklink (found in resources) for the most accurate set information and pricing. A good
    rule of thumb is to use the past 6 month average for a good idea of value.</p>
</div>

<script src='/js/set.js'></script>