   <h2 class="login_welcome">
              Ready to start collecting? You've come to the right place!
            </h2>
  <div class="container">
   
    <div class="row d-flex justify-content-center h-10">
      <div class="login_paragraph">
          <p>Here you'll be able to document your figures, sets, and research figures or sets you'd like to buy in the future! Your personalized dashboard shows user information, along with the value of your collection, broken down by figures and sets. </p>
          <p>Not into Lego? No problem. In the future we'll be adding more customization to record other collections you may have. But for now, enjoy collecting!</p>
        <div class="brick_photo_box">
        <img class="w-75 brick_photo" src="/images/bricks.jpeg"/>
        </div>
    </div>
      <div class="col-12 col-md-8 col-lg-6 col-xl-5 login-signup">
        <div class="card shadow-2-strong login-card" style="border-radius: 1rem;">
          <div class="card-body p-3 text-center">
            <h4 class="mb-2">Sign In</h4>
            <div class="form-outline mb-4">
              <input type="email" id="email-login" class="form-control form-control-lg" placeholder='Email'/>
              <label class="form-label" for="email-login">Email</label>
            </div>
            <div class="form-outline mb-4">
              <input type="password" id="password-login" class="form-control form-control-lg form-input" placeholder='Password' />
              <label class="form-label" for="password-login">Password</label>
            </div>
            <button class="btn btn-primary btn-md btn-block login_Btn mb-4" id="password-login" type="click" id='login_Btn'>Sign In</button>
            <h4 class="mb-2">Not a member yet?</h4>
            <button class="btn btn-primary btn-md signup btn-block mb-3" id="password-login" type='submit' onclick="location.href='/signup'">Signup</button>
          </div>
          
        </div>
      </div>
      
    </div>
  </div>

<script src="/js/login.js"></script>