   <div class='row justify-content-center'>
   <h2 class="login_welcome text-center">
              Ready to start collecting? You've come to the right place!
            </h2>
            </div>
  <div class="container">
   
    {{!-- <div class="row justify-content-center login_content_box"> --}}
      <div class="row login_paragraph mx-auto">
          <p class="login_text">Here you'll be able to document your figures, sets, and research figures or sets you'd like to buy in the future! Your personalized dashboard shows user information, along with the value of your collection, broken down by figures and sets. </p>
          <p class="login_text">Not into Lego? No problem. In the future we'll be adding more customization to record other collections you may have. But for now, enjoy collecting!</p>
      {{!-- </div> --}}
      </div>
    </div>
  </div>

<script src="/js/login.js"></script>