<div class='row justify-content-center'>
<h2 class="newSetHeader">Useful Lego Resources!</h2>
</div>
<div class='col-sm4 col-md-6 col-lg-12 mb-3 m-2 newset_container'>
  <div class="resources_box">
      <a class="resource_hover1" href='https://www.bricklink.com' target="_blank">Bricklink</a>
      <p>Bricklink is the "golden standard" for pricing your Lego Collection.  It also has excellent information on each figure and set.  It is recommended that you use this site when entering information about your collection that you do not know.
      </p>
      <br\>
      <a class="resource_hover2" href='https://www.rebrickable.com' target="_blank">Rebrickable</a>
      <p>Rebrickable is a great site when trying to put together old sets that you've lost the instructions to,  finding a piece list,  and general information about Lego.  It's a great one to check out if you have a spare minute!
      </p>
      <br\>
      <a class="resource_hover3" href='https://www.lego.com' target="_blank">Lego</a>
      <p>This one speaks for itself! Visit here to catch up on lego news and upcoming sets. You can also sign up to be a VIP to earn points on every purchase.
      </p>
  </div>
  
</div>
<script src="/js/resources.js"></script>