<div class='col-sm-12 col-md-6 col-lg-3 signup_container'>
  

  
  <div class="signup-form">
    <h2 class="signupHeader">Create Your Collector Profile!</h2>
    <div class='form-group'>
      <label for='first_name-signup'>First Name:</label>
      <input class='form-input' type='text' id='first_name-signup' />
    </div>

    <div class='form-group'>
      <label for='last_name-signup'>Last Name:</label>
      <input class='form-input' type='text' id='last_name-signup' />
    </div>

    <div class='form-group'>
      <label for='email-signup'>Email:</label>
      <input class='form-input' type='text' id='email-signup' />
    </div>

    <div class='form-group'>
      <label for='password-signup'>Password:</label>
      <input class='form-input' type='password' id='password-signup' />
    </div>

    <div class='form-group'>
      <label for='age'>How old are you?</label>
      <input class='form-input' type='integer' id='age-signup' />
    </div>

    <div class='form-group'>
      <label for='years-signup'>How many years have you been collecting Lego?</label>
      <input class='form-input' type='integer' id='years-signup' />
    </div>

    <div class='form-group'>
      <label for='favorite-signup'>What is your favorite figure?</label>
      <input class='form-input' type='text' id='favorite-signup'/>
    </div>

    <div class='form-group'>
      <button class='banner_btn create-profileBtn' type='submit'>Create Profile</button>
    </div>
  </div>
</div>
 
<script src="/js/signup.js"></script>


