<h2 class="yourfiguresHeader">Create Your Profile</h2>

<div class='col-sm4 col-md-6 col-lg-12 mb-3 signup_container'>
  <form class='needs-validation' novalidate>
    <div class='form-row'>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='first_name-signup'>First name</label>
        <input
          type='text'
          class='form-control fst-italic'
          id='first_name-signup'
          placeholder='First name'
          required
        />
        <div class='valid-feedback'>
          Looks good!
        </div>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='last_name-signup'>Last name</label>
        <input
          type='text'
          class='form-control fst-italic'
          id='last_name-signup'
          placeholder='Last name'
          required
        />
        <div class='valid-feedback'>
          Looks good!
        </div>
      </div>
        <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
          <label for='email-signup'>Email</label>
          <input
            type='text'
            class='form-control fst-italic'
            id='email-signup'
            placeholder='Email'
            required
          />
          <div class='invalid-feedback'>
            Please provide a valid email address.
          </div>
        </div>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='password-signup'>Password</label>
        <div class='input-group'>
          <div class='input-group-prepend'>
          </div>
          <input
            type='password'
            class='form-control fst-italic'
            id='password-signup'
            placeholder='Password'
            required
          />
          <div class='invalid-feedback'>
            Please choose a password.
          </div>
        </div>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='age'>Age</label>
        <input
          type='integer'
          class='form-control fst-italic'
          id='age-signup'
          placeholder='Age'
          required
        />
        <div class='invalid-feedback'>
          Please provide an age.
        </div>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='years-signup'>How many years have you been collecting for?</label>
        <input
          type='integer'
          class='form-control fst-italic'
          id='years-signup'
          placeholder='Years Collecting'
          required
        />
        <div class='invalid-feedback'>
          Please provide a valid zip.
        </div>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-3 input-box'>
        <label for='favorite-signup'>What is your favorite figure?</label>
        <input
          type='text'
          class='form-control fst-italic'
          id='favorite-signup'
          placeholder='Figure Name'
          required
        />
        <div class='invalid-feedback'>
          Please provide a figure name.
        </div>
      </div>
    </div>
    <div class="create_Btn">
    <button class='btn btn-primary create-profileBtn' type='submit'>Create Profile</button>
    </div>
  </form>
</div>

<script src="/js/signup.js"></script>