<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU'
      crossorigin='anonymous'
    />
    <link rel='stylesheet' href='/css/styles.css' />
    <link rel='toast' href='./../../public/toast/toast.css'/>
    
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,200&display=swap'
      rel='stylesheet'
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Bungee&display=swap'
      rel='stylesheet'
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'
      rel='stylesheet'
    />
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js'
      integrity='sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/'
      crossorigin='anonymous'
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
  

    {{#if logged_in}}
      <title>{{currentUser.first_name}} the Lego Collector</title>
    {{else}}
      <title> The Lego Collector</title>
    {{/if}}
  </head>
  <body>
    <div class='hero'>
      <header class='banner'>
        <nav class='navbar navbar-dark bg-dark p-2'>
          <span
            class='navbar-brand mb-0 h1 page_welcome'
            onclick="location.href='/'"
          >THE LEGO COLLECTOR</span>
          {{#if logged_in}}
            <button class='btn log_out' id='logout' type='click'>Log Out</button>
          {{/if}}
        </nav>
      </header>
      <main>
          
        {{#if logged_in}}
          <div class='side_nav'>
            <a
              class='banner_btn dashboardBtn header_btn'
              id='dashboardB'
              href="/"
            >Dashboard</a>
            <a
              class='banner_btn header_btn my_figuresBtn'
              id='my_figuresB'
              href='/myFigures'
            >My Figures</a>
            <a
              class='banner_btn header_btn add_figuresBtn'
              id='add_figuresB'
              href='/addFigure'
            >Add Figures</a>
            <a
              class='banner_btn header_btn my_setsBtn'
              id='my_setsB'
              href='/mySets'
            >My Sets</a>
            <a
              class='banner_btn header_btn add_setsBtn'
              id='add_setsB'
              href='/addSet'
            >Add Sets</a>
            <a
              class='banner_btn header_btn research_figuresBtn'
              id='bricklinkB'
              href='/resources'
            >Lego Resources</a>
          </div>
        {{/if}}
        <div class='container-fluid'>
          {{#if logged_in}}
          {{else}}
          {{/if}}
          <div class='container-fluid main-content'>

            {{{body}}}

          </div>
        </div>
       
      </main>
    </div>
    <div class='foot-wrapper'>
      <footer class='footer banner navbar-dark bg-dark p-2'>
        <p class='footer_text'>Copyright: 2021 - Daniel Bradley</p>
      </footer>
    </div>

    {{#if logged_in}}
      <script src='/js/logout.js'></script>
      
      
    {{/if}}
    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </body>

</html>