header{
    border: solid;
    font-family: 'Bungee', cursive;
}
body {
    
}

.my_figuresBtn {
    background:palegreen;
}

.my_setsBtn {
    background:wheat;
}
.add_figuresBtn {
    background:cornflowerblue;
}

.research_figuresBtn {
    background:lightpink;
}

.page_welcome {
    /* border: solid; */
    font-size: x-large;
    
}

.login_paragraph{
padding-top: 2em;
   width: 50%;
   font-family: 'Roboto', sans-serif;
    
}
.brick_photo{
    
}


.welcome_info_logged_in {
    margin-top: 1em;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}
.welcome_info_logged_out{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    /* border: solid; */
    margin: 1em;
    font-family: 'Roboto', sans-serif;

}

/* .main_window { */
    /* border: solid; */
    /* border-radius: 10px; */
/* } */
.login-signup {
    width: 40%;
    margin-top: 1em;
    /* border: solid; */
    font-family: 'Bungee', cursive;

}
.signup_container {
    display: flex;
    flex-direction: row;
    width: 75%;
    /* justify-content: center; */
    /* align-self: center; */
    /* align-content: center; */
    padding: 1em;
    margin-bottom: 1em;
    margin: auto;
    border: solid;
    border-radius: 8px;
    

}
.form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.input-box {
    margin: 1em;
}

.create_Btn {
    display: flex;
    justify-content: center;
}

.credential_window{
    padding: 1em;
    display: flex; 
    flex-direction: row;
    align-items: center;
    border: solid;
}

.credential-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    border: solid;
    padding-top: 1em;
    width: 200%;
    align-items: flex-end;
    border-radius: 10px;
    /* align-content: center; */
    margin: auto;
}

.form-group {
    margin: .5em;
}

.signupHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    border: solid;
}

.dashboard_message {
    font-family: 'Bungee', cursive;
    margin-top: 1em;

}

.profile_info {
    font-family: 'Bungee', cursive;

}
.list-group {
    border-radius: 8px;
}

.profile_text {
    font-size: 15px;
}
.newFigHeader {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.newfig_container {
    font-family: 'Bungee', cursive;
    border: solid;
    border-radius: 8px; 
}
.newSetHeader {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}
.newset_container {
    font-family: 'Bungee', cursive;
    border: solid;
    border-radius: 8px;
}

.foot-wrapper {
    position:fixed;
    left:0;
    bottom:0;
    width: 100%;
}
footer {
    position:relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;           
  }


  .footer_text{
    color:white;
    font-family: 'Bungee', cursive;

  }