/* header starts */
header {
  border: solid;
  border-bottom: none;
  font-family: 'Bungee', cursive;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
}

a:active {
  background-color: #212529;
}

body::after {
  content: '';
  background: url('/images/bgd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.swal-text {
  font-family: 'Bungee', cursive;
}

.page_welcome:hover {
  cursor: pointer;
}

.log_out {
  border: solid;
  background-color: #fff;
}

.log_out:hover {
  background-color: mediumturquoise;
}
/* header stops */

.lego_photo {
  width: 15%;
  padding-bottom: 0.5em;
}
.side_nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  font-size: 20px;
  border-bottom-right-radius: 5px;
  margin-bottom: 1em;
}

.main_window {
  display: flex;
  flex-direction: row;
}

.login_welcome {
  display: flex;
  justify-content: center;
  text-align: center;
  border: solid;
  border-radius: 8px;
  width: 60%;
  padding-right: 1em;
  padding-left: 1em;
  margin-top: 1em;
  font-family: 'Bungee', Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #fff;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.dashboardBtn {
  background: gray;
  color: #fff;
  font-family: 'Bungee', cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-left: 0.5em;
  border: solid;
  border-color: #212529;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: none;
  transition: 0.3s;
}

.dashboardBtn:active{
  background:#212529;
}

.my_figuresBtn {
  background: gray;
  color: #fff;
  font-family: 'Bungee', cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border: solid;
  margin-left: 0.5em;
  border-color: #212529;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: none;
  transition: 0.3s;
}
.my_figuresBtn:active{
  background:#212529;
}

.header_Btn {
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 0.25em;
}
.header_Btn:hover {
  background-color: #212529;
  color: white;
}

.add_figuresBtn {
  background: gray;
  color: #fff;
  font-family: 'Bungee', cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  /* margin-top: .5em; */
  border: solid;
  margin-left: 0.5em;
  border-color: #212529;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: none;
  /* border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; */
  transition: 0.3s;
}
.add_a_new_figBtn {
  background: white;
  font-family: 'Bungee', cursive;
  /* margin-top: .5em; */
  border: solid;
  border-color: black;
  border-radius: 5px;
  transition: 0.3s;
}
.add_figuresBtn:hover {
  background-color: #212529;
}

.my_setsBtn {
  background: gray;
  color: #fff;
  font-family: 'Bungee', cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border: solid;
  margin-left: 0.5em;
  border-color: #212529;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: none;
  transition: 0.3s;
}

.add_setsBtn {
  background: gray;
  color: #fff;
  font-family: 'Bungee', cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border: solid;
  border-color: #212529;
  margin-left: 0.5em;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: none;
  transition: 0.3s;
}

.research_figuresBtn {
  background: gray;
  color: #fff;
  font-family: 'Bungee', cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border: solid;
  border-color: #212529;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: none;
  transition: 0.3s;
}

.save_figBtn {
  background: darkseagreen;
  border: solid;
  margin: 0.5em;
}

.delete_figBtn {
  background: red;
  border: solid;
  margin: 0.5em;
}

.page_welcome {
  font-size: x-large;
}
.login_content_box{
  height: 100%;
}
.login_paragraph {
  margin-top: 2em;
  padding-top: 1em;
  width: 50%;
  /* height: 45%; */
  background: #fff;
  border-radius: 15px;
  border: solid;
}

.login_text{
  margin-top: 1em;
  font-family: 'Bungee', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.brick_photo {
  margin: auto;
}
.brick_photo_box {
  display: flex;
  align-content: center;
}

.login_Btn {
  background-color: forestgreen;
}

.welcome_info_logged_in {
  margin-top: 1em;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  width: 60%;
  padding-right: 1em;
  padding-left: 1em;
}

.welcome_logged_in {
  display: flex;
  justify-content: center;
  text-align: center;
  border: solid;
  border-radius: 8px;
  width: 60%;
  padding-right: 1em;
  padding-left: 1em;
  margin-top: 1em;
  font-family: 'Bungee', Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #fff;
}

.login-signup {
  width: 30%;
  height: 100%;
  margin-top: 1em;
  font-family: 'Bungee', cursive;
  padding-top: 1em;
}

.login-card {
  border: solid;
}

.login_Btn {
  border: none;
}

.signup {
  background-color: red;
  border: none;
}

.signup_container {
  font-family: 'Bungee', cursive;
  border: solid;
  border-radius: 8px;
  background-color: white;
}

.form-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.input-box {
  margin: 1em;
}

.create_Btn {
  display: flex;
  justify-content: center;
}

.credential_window {
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid;
}

.credential-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  border: solid;
  padding-top: 1em;
  width: 200%;
  align-items: flex-end;
  border-radius: 10px;
  margin: auto;
}

.form-group {
  margin: 0.5em;
}

.newSetHeader {
  display: flex;
  justify-content: center;
  text-align: center;
  border: solid;
  border-radius: 8px;
  width: 60%;
  padding-right: 1em;
  padding-left: 1em;
  margin-top: 1em;
  font-family: 'Bungee', Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #fff;
}

.yoursetsHeader {
  display: flex;
  justify-content: center;
  text-align: center;
  border: solid;
  border-radius: 8px;
  width: 60%;
  padding-right: 1em;
  padding-left: 1em;
  margin-top: 1em;
  font-family: 'Bungee', Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #fff;
}

.yourfiguresHeader {
  display: flex;
  justify-content: center;
  text-align: center;
  border: solid;
  border-radius: 8px;
  width: 60%;
  padding-right: 1em;
  padding-left: 1em;
  margin-top: 1em;
  font-family: 'Bungee', Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #fff;
}
.figures_container {
  font-family: 'Bungee', cursive;
  border: solid;
  border-radius: 8px;
  background-color: white;
}

.figure_Btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: .25em;
  flex-grow: inherit;
}

.edit_figuresBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightgray;
  border-radius: 5px;
  padding: 0.25em;
  border: solid;
  width: 7%;
}
/* .pen_box{
  display: flex;
  justify-content: flex-end;
} */
.pen{
  padding-top: .5em;
  width: 20px;
  justify-content: right;
}

.pen:hover{
  cursor:pointer;
}

.add_a_new_figBtn {
  background-color: lightgray;
}



.emmet_photo {
  width: 20%;
  padding-bottom: 0.5em;
}

/* figure & set grid */

.grid_header {
  padding-top: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  background-color: slategrey;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin: 0;
  text-align: center;
}
.itemconfiguration {
  overflow-y: auto;
  height: 400px;
}
.grid_content {
  padding-top: 0.5em;
  padding-bottom: 0;
  border-top: solid;
  /* height: 10%; */
  margin: 0;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  word-wrap: none;
}

/* grid ends */
.addFigHeader {
  display: flex;
  justify-content: center;
  text-align: center;
  border: solid;
  border-radius: 8px;
  width: 60%;
  padding-right: 1em;
  padding-left: 1em;
  margin-top: 1em;
  font-family: 'Bungee', Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #fff;
}
.add_figBtn {
  border-radius: 5px;
  background-color: lightgray;
  border: solid;
  margin: 0.5em;

}

.signupHeader {
  font-family: 'Bungee', cursive;
  border: solid;
  border-radius: 8px;
  background-color: white;
}

.dashboard_message {
  font-family: 'Bungee', cursive;
  margin-top: 1em;
}

.profile_info {
  font-family: 'Bungee', cursive;
  border: solid;
  border-radius: 8px;
  margin: 0.5em;
  
}

.profile-page {
  display: flex;
  flex-direction: row;
  padding: 1em;
  width: 120%;
}

.profile_spec_text {
  font-family: 'Roboto', sans-serif;
}

.list-group {
  border-radius: 8px;
}

.profile_text {
  font-size: 15px;
}

.newFigHeader {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.newfig_container {
  font-family: 'Bungee', cursive;
  border: solid;
  border-radius: 8px;
}

.recommendation_text {
  font-family: arial;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  font-size: larger;
}

.newset_container {
  font-family: 'Bungee', cursive;
  border: solid;
  border-radius: 8px;
  background-color: white;
}

.resources_box {
  padding: 1em;
  font-size: 25px;
}

.resource_hover1 {
  color: red;
  text-decoration: none;
}

.resource_hover2 {
  color: purple;
  text-decoration: none;
}

.resource_hover3 {
  color: green;
  text-decoration: none;
}

.resource_hover1:hover {
  color: mediumblue;
  cursor: pointer;
}

.resource_hover2:hover {
  color: mediumblue;
  cursor: pointer;
}

.resource_hover3:hover {
  color: mediumblue;
  cursor: pointer;
}

.foot-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.footer_text {
  color: white;
  font-family: 'Bungee', cursive;
}
