header{
    border: solid;
}


/* .page_welcome {
    border: solid;
} */

.welcome_info_logged_out{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    border: solid;

}

/* .main_window { */
    /* border: solid; */
    /* border-radius: 10px; */
/* } */

.signup_container {
    display: flex;
    flex-direction: row;
    width: 75%;
    /* justify-content: center; */
    /* align-self: center; */
    /* align-content: center; */
    margin: auto;

}
.credential_window{
    padding: 1em;
    display: flex; 
    flex-direction: row;
    align-items: center;
    border: solid;
}

.credential-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    border: solid;
    padding-top: 1em;
    width: 200%;
    align-items: flex-end;
    border-radius: 10px;
    /* align-content: center; */
    margin: auto;
}



.form-group {
    margin: .5em;
}

.signupHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    border: solid;
}

/* .create_profileBtn {
   
} */
