header{
    border: solid;
    font-family: 'Bungee', cursive;
}

body::after {
    content: "";
    background: url("/images/bgd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.side_nav {
    display: flex;
    flex-direction: column;
    width: 15%;
}
.main_window {
    display: flex;
    flex-direction: row;
}


.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    /* border: solid; */
}
.my_figuresBtn {
    background:limegreen;
    font-family: 'Bungee', cursive;
    margin-top: .5em;
    border: solid;
    border-color: #212529;
    border-left: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.add_figuresBtn {
    background:darkseagreen;
    font-family: 'Bungee', cursive;
    margin-top: .5em;
    border: solid;
    border-color: #212529;
    border-left: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.my_setsBtn {
    background:turquoise;
    font-family: 'Bungee', cursive;
    margin-top: .5em;
    border: solid;
    border-color: #212529;
    border-left: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.add_setsBtn {
    background:cornflowerblue;
    font-family: 'Bungee', cursive;
    margin-top: .5em;
    border: solid;
    border-color: #212529;
    border-left: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.research_figuresBtn {
    background:orangered;
    font-family: 'Bungee', cursive;
    margin-top: .5em;
    border: solid;
    border-color: #212529;
    border-left: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.page_welcome {
    /* border: solid; */
    font-size: x-large;
    
}

.login_paragraph{
padding-top: 2em;
   width: 50%;
   font-family: 'Roboto', sans-serif;
   background: #FFF;
   border-radius: 8px;
    
}


.welcome_info_logged_in {
    margin-top: 1em;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}
.welcome_info_logged_out{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    /* border: solid; */
    margin: 1em;
    font-family: 'Roboto', sans-serif;

}

/* .main_window { */
    /* border: solid; */
    /* border-radius: 10px; */
/* } */
.login-signup {
    width: 30%;
    height: 30%;
    margin-top: 1em;
    /* border: solid; */
    font-family: 'Bungee', cursive;

}
.signup_container {
    display: flex;
    flex-direction: row;
    width: 75%;
    /* justify-content: center; */
    /* align-self: center; */
    /* align-content: center; */
    padding: 1em;
    margin-bottom: 1em;
    margin: auto;
    border: solid;
    border-radius: 8px;
    

}
.form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.input-box {
    margin: 1em;
}

.create_Btn {
    display: flex;
    justify-content: center;
}

.credential_window{
    padding: 1em;
    display: flex; 
    flex-direction: row;
    align-items: center;
    border: solid;
}

.credential-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    border: solid;
    padding-top: 1em;
    width: 200%;
    align-items: flex-end;
    border-radius: 10px;
    /* align-content: center; */
    margin: auto;
}

.form-group {
    margin: .5em;
}

.newSetHeader {
    display: flex;
    justify-content: center; 
    /* align-items: center; */ 
    /* padding-top: 1em;
    padding-bottom: 1em; */
    text-align: center;
    border: solid;
    border-radius: 8px;
    width: 60%;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 1em;
    font-family: 'Bungee', Arial, Helvetica, sans-serif;
    font-weight: bold;  
    background-color: #FFF;
}

.yoursetsHeader {
    display: flex;
    justify-content: center; 
    /* align-items: center; */ 
    /* padding-top: 1em;
    padding-bottom: 1em; */
    text-align: center;
    border: solid;
    border-radius: 8px;
    width: 60%;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 1em;
    font-family: 'Bungee', Arial, Helvetica, sans-serif;
    font-weight: bold;  
    background-color: #FFF;
}

.yourfiguresHeader {
    display: flex;
    justify-content: center; 
    /* align-items: center; */ 
    /* padding-top: 1em;
    padding-bottom: 1em; */
    text-align: center;
    border: solid;
    border-radius: 8px;
    width: 60%;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 1em;
    font-family: 'Bungee', Arial, Helvetica, sans-serif;
    font-weight: bold;  
    background-color: #FFF;
}

.addFigHeader {
    display: flex;
    justify-content: center; 
    /* align-items: center; */ 
    /* padding-top: 1em;
    padding-bottom: 1em; */
    text-align: center;
    border: solid;
    border-radius: 8px;
    width: 60%;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 1em;
    font-family: 'Bungee', Arial, Helvetica, sans-serif;
    font-weight: bold;  
    background-color: #FFF;
}


.signupHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    border: solid;
}

.dashboard_message {
    font-family: 'Bungee', cursive;
    margin-top: 1em;

}

.profile_info {
    font-family: 'Bungee', cursive;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    border: solid;
    border-radius: 8px;

}
.list-group {
    border-radius: 8px;
}

.profile_text {
    font-size: 15px;
}
.newFigHeader {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.newfig_container {
    font-family: 'Bungee', cursive;
    border: solid;
    border-radius: 8px; 
}

.newset_container {
    font-family: 'Bungee', cursive;
    border: solid;
    border-radius: 8px;
    background-color: white;
}



.foot-wrapper {
    position:fixed;
    left:0;
    bottom:0;
    width: 100%;
}
footer {
    position:relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;           
  }


  .footer_text{
    color:white;
    font-family: 'Bungee', cursive;

  }