header{
    border: solid;
    font-family: 'Bungee', cursive;
}

.page_welcome:hover{
    cursor: pointer;
}
.log_out{
    border:solid;
    background-color:#FFF;
}
.log_out:hover {
    background-color:pink;
  }

p{
    font-size: 15px;
}


body::after {
    content: "";
    background: url("/images/bgd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.side_nav {
    display: flex;
    flex-direction: column;
    width: 15%;
}
.main_window {
    display: flex;
    flex-direction: row;
}
.login_welcome{
    display: flex;
    justify-content: center; 
    /* align-items: center; */ 
    /* padding-top: 1em;
    padding-bottom: 1em; */
    text-align: center;
    border: solid;
    border-radius: 8px;
    width: 60%;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 1em;
    font-family: 'Bungee', Arial, Helvetica, sans-serif;
    font-weight: bold;  
    background-color: #FFF;
}


.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    /* border: solid; */
}
.dashboardBtn{
    background:yellow;
    font-family: 'Bungee', cursive;
    margin-top: .5em;
    border: solid;
    border-color: black;
    border-left: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: 0.3s; 
}
.dashboardBtn:hover {
    background-color: #FFF;
  }
.my_figuresBtn {
    background:limegreen;
    font-family: 'Bungee', cursive;
    margin-top: .5em;
    border: solid;
    border-color: black;
    border-left: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: 0.3s;
}
.my_figuresBtn:hover {
    background-color: #FFF;
}

.add_setBtn{
    background:cornflowerblue;
    border: solid;
}

.add_figBtn{
    background:darkseagreen;
    border: solid;  
}

.add_figuresBtn {
    background:darkseagreen;
    font-family: 'Bungee', cursive;
    margin-top: .5em;
    border: solid;
    border-color: black;
    border-left: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: 0.3s;
}
.add_figuresBtn:hover {
    background-color: #FFF;
  }

.my_setsBtn {
    background:turquoise;
    font-family: 'Bungee', cursive;
    margin-top: .5em;
    border: solid;
    border-color: black;
    border-left: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: 0.3s;
}

.my_setsBtn:hover {
    background-color: #FFF;
  }

.add_setsBtn {
    background:cornflowerblue;
    font-family: 'Bungee', cursive;
    margin-top: .5em;
    border: solid;
    border-color: black;
    border-left: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: 0.3s;
}
.add_setsBtn:hover {
    background-color: #FFF;
}

.research_figuresBtn {
    background:orangered;
    font-family: 'Bungee', cursive;
    margin-top: .5em;
    border: solid;
    border-color: black;
    border-left: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: 0.3s;
}

.research_figuresBtn:hover {
    background-color: #FFF;
  }

.page_welcome {
    /* border: solid; */
    font-size: x-large;
}

.login_paragraph{
   margin-top: 2em;
   padding-top: 1em;
   width: 50%;
   height:45%;
   font-family: 'Bungee', cursive;
   /* font-weight: bold; */
   background: #FFF;
   border-radius: 15px;
   border: solid;   
}

.brick_photo{
    margin: auto;
    
}
.brick_photo_box{
    display: flex;
    align-content: center;
}

.login_Btn {
    background-color: forestgreen;
}

.signup_container {

}

.welcome_info_logged_in {
    margin-top: 1em;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    width: 60%;
    padding-right: 1em;
    padding-left: 1em;
}

.welcome_logged_in {
    display: flex;
    justify-content: center; 
    /* align-items: center; */ 
    /* padding-top: 1em;
    padding-bottom: 1em; */
    text-align: center;
    border: solid;
    border-radius: 8px;
    width: 60%;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 1em;
    font-family: 'Bungee', Arial, Helvetica, sans-serif;
    font-weight: bold;  
    background-color: #FFF;
}

.welcome_info_logged_out{
    /* /* display: flex;
    justify-content: flex-end;  */
    /* padding-top: 1em;
    padding-bottom: 1em; */
    /* text-align: center;
    border: solid;
    border-radius: 8px;
    padding-top: .5em;
    padding-right: 0em;
    padding-left: 0em;
    margin-top: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;  
    background-color: #FFF;  */

}

/* .main_window { */
    /* border: solid; */
    /* border-radius: 10px; */
/* } */

.login-signup {
    width: 30%;
    height: 100%;
    margin-top: 1em;
    font-family: 'Bungee', cursive;
    padding-top: 1em;
}

.login-card {
    border: solid;
}

.signup_container {
    font-family: 'Bungee', cursive;
    border: solid;
    border-radius: 8px;
    background-color: white;
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap; */
}

.form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.input-box {
    margin: 1em;
}

.create_Btn {
    display: flex;
    justify-content: center;
}

.credential_window{
    padding: 1em;
    display: flex; 
    flex-direction: row;
    align-items: center;
    border: solid;
}

.credential-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    border: solid;
    padding-top: 1em;
    width: 200%;
    align-items: flex-end;
    border-radius: 10px;
    /* align-content: center; */
    margin: auto;
}

.form-group {
    margin: .5em;
}

.newSetHeader {
    display: flex;
    justify-content: center; 
    /* align-items: center; */ 
    /* padding-top: 1em;
    padding-bottom: 1em; */
    text-align: center;
    border: solid;
    border-radius: 8px;
    width: 60%;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 1em;
    font-family: 'Bungee', Arial, Helvetica, sans-serif;
    font-weight: bold;  
    background-color: #FFF;
}

.yoursetsHeader {
    display: flex;
    justify-content: center; 
    /* align-items: center; */ 
    /* padding-top: 1em;
    padding-bottom: 1em; */
    text-align: center;
    border: solid;
    border-radius: 8px;
    width: 60%;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 1em;
    font-family: 'Bungee', Arial, Helvetica, sans-serif;
    font-weight: bold;  
    background-color: #FFF;
}

.yourfiguresHeader {
    display: flex;
    justify-content: center; 
    /* align-items: center; */ 
    /* padding-top: 1em;
    padding-bottom: 1em; */
    text-align: center;
    border: solid;
    border-radius: 8px;
    width: 60%;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 1em;
    font-family: 'Bungee', Arial, Helvetica, sans-serif;
    font-weight: bold;  
    background-color: #FFF;
}
.figures_container {
    font-family: 'Bungee', cursive;
    border: solid;
    border-radius: 8px;
    background-color: white;
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap; */
}

.figure_Btns{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 1em;
    flex-grow: inherit;
}
.grid_header{
    padding-right: 1em;
    padding-left: 1em;
    /* border: solid; */
    /* border-bottom: solid; */
    margin:0;
    text-align: center;
}
.edit_figuresBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 10%;
    
}
/* grid */

.itemconfiguration{
    
    /* background-color:#CCC; */		
    overflow-y:auto;
    height: 500px;
    
    
    
    
}
.grid_content{
    padding-top: .5em;
    padding-bottom: 0;
    border-top: solid;
    margin:0;
    font-family: 'Roboto', sans-serif;
    /* align-content: center; */
    text-align: center;
    word-wrap: none;
    
}






.addFigHeader {
    display: flex;
    justify-content: center; 
    /* align-items: center; */ 
    /* padding-top: 1em;
    padding-bottom: 1em; */
    text-align: center;
    border: solid;
    border-radius: 8px;
    width: 60%;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 1em;
    font-family: 'Bungee', Arial, Helvetica, sans-serif;
    font-weight: bold;  
    background-color: #FFF;
}


.signupHeader {
    font-family: 'Bungee', cursive;
    border: solid;
    border-radius: 8px;
    background-color: white;
}

.dashboard_message {
    font-family: 'Bungee', cursive;
    margin-top: 1em;

}

.profile_info {
    font-family: 'Bungee', cursive;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    border: solid;
    border-radius: 8px;

}



.list-group {
    border-radius: 8px;
}

.profile_text {
    font-size: 15px;
}
.newFigHeader {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.newfig_container {
    font-family: 'Bungee', cursive;
    border: solid;
    border-radius: 8px; 
}
.recommendation_text{
   padding-left: 1em;
   padding-right: 1em;
   padding-top: 1em;
}

.newset_container {
    font-family: 'Bungee', cursive;
    border: solid;
    border-radius: 8px;
    background-color: white;
}



.resources_box{
    padding: 1em;
    font-size: 25px;
}

.resource_hover1 {
    color:red; 
    text-decoration: none;
    
}

.resource_hover2 {
    color: purple;
    text-decoration: none;
    
}

.resource_hover3 {
    color: green;
    text-decoration: none;
    
}

.resource_hover1:hover {
    color:mediumblue;
    cursor: pointer;
}

.resource_hover2:hover {
    color:mediumblue;
    cursor: pointer;
}

.resource_hover3:hover {
    color:mediumblue;
    cursor: pointer;
}





.foot-wrapper {
    position:fixed;
    left:0;
    bottom:0;
    width: 100%;
}
footer {
    position:relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;           
  }


  .footer_text{
    color:white;
    font-family: 'Bungee', cursive;

  }